services:
  - type: web
    name: anime-snake-arena
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    healthCheckPath: /api/leaderboard
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 80
